* {
  margin: 0;
  padding:   0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.content{
    width: 80%;
    margin: auto;
}

.jus{
    justify-content: space-between;
}

.align{
    align-items: center;
}
.gap{
    gap: 5%;
}
.contenir{
    color: rgba(255, 255, 255, 1) ;
    background-image: url(images/a5fcbde5258262f42e8d47435151dd5e6c7fc8ba.png);
}

.light-weight{
    font-weight: 150;
}

.display-flex{
    display: flex;
}

ul{
    list-style: none;
    color: rgba(255, 255, 255, 1);
}

.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}

.w-30{
    width: 50%;
}
.w-20{
    width: 20%;
}

.w-50{
    width: 50%;
}
button{
    padding: 5%;
    border-radius: 15px;
    border: none;
    align-items: center;

}

.padding{
    padding-top: 2%;
}

.font-s{
    font-size: 70px;
}